{% extends 'base.html' %}
{% block title %} Registration Page | {% endblock %}

{%  block content %}
<section id="login">
<div class="container" id="loginpanel">
<div 
style="background-color: #fff;
    width:100%;color: #000;text-align: center; padding: 0.4rem;">
    
    <h3>
        Registration
    </h3>
</div>    
<br/>
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
      <!-- SenderEmail Address -->
   
          <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">First Name</label>
              <input type="text" maxlength="100" name="fname" 
              class="form-control" id="exampleFormControlInput1" placeholder="" required>
            </div>

            <!-- SenderEmail Address -->
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Middle Name</label>
              <input type="text" maxlength="100" name="mname" class="form-control" id="exampleFormControlInput1" 
              placeholder="" required>
            </div>
                  <!-- SenderEmail Address -->
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Last Name</label>
            <input type="text" name="lname" class="form-control" id="exampleFormControlInput1" 
            placeholder="" required>
          </div>
                <!-- SenderEmail Address -->
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Username</label>
                  <input type="text" name="username" class="form-control" id="exampleFormControlInput1" 
                  placeholder="" required>
                </div>
                      <!-- SenderEmail Address -->
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">E-mail</label>
            <input type="email" name="uemail" class="form-control" id="exampleFormControlInput1" 
            placeholder="" required>
          </div>
      <!-- Sender Email Password -->
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Confirm Password</label>
              <input type="password" name="conpasswrd" required class="form-control" 
              id="exampleFormControlInput1">
              
            </div>

            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"> Password</label>
              <input type="password" name="passwrd" required 
              class="form-control" id="exampleFormControlInput1">
              
            </div>
      
            <!-- <div class="col text-right"> -->
              <div class="container">
                <div class="row">
                  <div class="col">
                    <input type="submit" value="Sign up" class="btn btn-success" style="width: 100%; ">
                  </div>
                  <div class="col">

                    <input type="submit" value="Sign in" class="btn btn-success" style="width: 100%; ">
                  </div>
                </div>
              </div>

           
            
      
      </form>
      <!-- blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1; -->


</div>
</section>

{% endblock %}